version: "3"

services:
  limukocwms:
    image: njorotetimk/limukocwms:stable
    ports:
      - 8000:8000

    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@postgres/limuko
      - SECRET_KEY=HArdtoguessstring
      - ROOT_ID=118254455

    depends_on:
      - postgres

  postgres:
    image: postgres
    ports:
      - 5432:5432

    volumes:
      - postgres:/var/lib/postgresql/data

    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres:
