{% extends 'base.html' %}
{% block content %}
<h2 id="title">Read Meter</h2>
<div class="row">
    <form method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" name="username" required />
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
                <input id="role" type="number" class="validate" name="role" required/>
                <label for="role">Role</label>
            </div>
            <div class="input-field col s12">
                <input id="password1" type="password" class="validate" name="password1" required/>
                <label for="password1">Password</label>
            </div>
            <div class="input-field col s12">
                <input id="password2" type="password" class="validate" name="password2" required/>
                <label for="password2">Renter the password</label>
            </div>
            
        </div>

</div>
<button class="btn waves-effect waves-light" type="submit" name="action">
    Submit
</button>
</form>
{% endblock %}