{% extends 'base.html' %} {% block content %}
<h2 id="title">Add User</h2>

<form method="post">
  {{ form.csrf_token }}
  <div class="row">
    <div class="input-field col s12">
      {{form.username()}} {{form.username.label}}
    </div>
    <div class="input-field col s12">{{form.role()}} {{form.role.label}}</div>
    <div class="col s12">
      {% if form.password.errors %}
      <ul class="error">
        {%for error in form.password.errors %}
        <li>{{error}}</li>
        {%endfor%}
      </ul>
      {% endif %}
    </div>
    <div class="input-field col s12">
      {{form.password()}}{{form.password.label}}
    </div>
    <div class="input-field col s12">
      {{form.verify_password()}}{{form.verify_password.label}}
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
    </button>
  </div>
</form>

{% endblock %}
