<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/materialize.min.css" />
    <link rel="stylesheet" href="/static/style.css" />

    <title>{%block title%}{%endblock%}Limuko WMS</title>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="{{url_for('main')}}" class="brand-logo"
            ><img src="/static/logo.jpg" alt="logo" class="logo"
          /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('main')}}">Home</a></li>
            {%block navbar%}{%endblock%}
          </ul>
        </div>
      </nav>

      {% block content %} {% endblock %}
    </div>

    <script src="/static/materialize.min.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
