{% extends 'base.html'%} {% block content %}
<h3>Clients</h3>

<table>
  <tr>
    <th>Username</th>
    <th>ID</th>
    <th>Action</th>
  </tr>
  {% for client in clients %}
  <tr>
    <td>
      <a href="{{url_for('client.get_client', id=client.id)}}">{{client.username}}</a>
    </td>
    <td>{{client.id}}</td>
    <td>
      <form action="{{ url_for('admin.delete_user', id=client.id, role='client')}}" method="post">
        <input type="submit" value="Remove User"
          onclick="return confirm(' Are you sure you want to delete {{client.username}}')" class="btn red" />
      </form>
    </td>
  </tr>
  {%endfor%}
</table>
<button class="btn">
  <a href="{{url_for('admin.add_user')}}">Add Client</a>
</button>
{% endblock %}