{% extends 'base.html'%} {% block content %}
<h3>
  {% if role==0 %}
  <h2>All Users</h2>
  {% elif role == 1%}
  <h2>Admins</h2>
  {%elif role == 2%}
  <h2>Meter Readers</h2>
  {%else%}
  <h2>Clients</h2>
  {% endif %}
</h3>
<table>
  <tr>
    <th>Username</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>
      <a href="{{url_for('admin.get_user', id=user.id)}}">{{user.username}}</a>
    </td>
    <td>
      {%if user.role==1%} Administrator {% elif user.role == 2%} Meter Reader {%
      else %} Client {%endif%}
    </td>
    <td>
      <form
        action="{{ url_for('admin.delete_user', id=user.id)}}"
        method="post"
      >
        <input
          type="submit"
          value="Remove User"
          onclick="return confirm(' Are you sure you want to delete {{user.username}}')"
        />
      </form>
    </td>
  </tr>
  {%endfor%}
</table>
<button class="button">
  <a href="{{url_for('admin.add_user')}}">Add User</a>
</button>
{% endblock %}
